@font-face {
    font-family: "Arimo-Regular";
    src: url("../fonts/Arimo-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Arimo-Bold";
    src: url("../fonts/Arimo-Bold.ttf") format("truetype");
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "ABC-trial";
    src: url("../fonts/ABCGravityCyrillic-Expanded-Trial.otf");
    font-style: bold;
    font-weight: bold;
}
